<!--
============================================
; Title: index.ejs
; Author: Adam Donner
; Date: 29 May 2019
; Description: index of EMS program.
;===========================================
-->

<!DOCTYPE html>
<html lang="en">
<% include header %>

<body>
<% include navbar %>

<div class="hero-image carousel" id="home">
  <img src="img/background.jpg" alt="people in circle with fists together">
  <div class="carousel-caption">
      <h1 class="display-2">Welcome to the Employee Management System</h1>
      <h1 class="display-2" id="text"></h1>
      <h2 class="display-3">Today is: <span id="datetime"></span></h2>
  </div>
</div>

<div class="container-fluid padding">
    <div class="row padding">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="card">
          <img class="card-img-top" src="img/team.png" alt="Group of business people">
          <div class="card-body">
            <h4 class="card-title">Employee Listing</h4>
            <p>View a listing of all our awesome employees!</p>
            <a href="/list" class="btn btn-outline-secondary">Go!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="card">
            <img class="card-img-top" src="img/employee1.png" alt="Business man at computer desk.">
            <div class="card-body">
              <h4 class="card-title">View Employee</h4>
              <p>View a specific employee's information.</p>
              <a href="/view" class="btn btn-outline-secondary">Go!</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card">
              <img class="card-img-top" src="img/employee2.png" alt="Business man with beard smiling at a computer desk.">
              <div class="card-body">
                <h4 class="card-title">New Employee!</h4>
                <p>Add a new employee to our excellent team!</p>
                <a href="/new" class="btn btn-outline-secondary">Go!</a>
              </div>
            </div>
          </div>
    </div>
    </div>


<% include footer %>
<% include scripts %>

</body>
</html>
