<!--
============================================
; Title: footer.ejs
; Author: Adam Donner
; Date: 20 May 2019
; Description: Footer of EMS program.
;===========================================
-->



<footer class="fixed-bottom">
  <p class = "text-center">&copy; Twin Lab Works 2019</p>
</footer>
