<!--
============================================
; Title: index.ejs
; Author: Adam Donner
; Date: 29 May 2019
; Description: index of EMS program.
;===========================================
-->

<!DOCTYPE html>
<html lang="en">
<% include header %>

<body>
<% include navbar %>

<div class="hero-image carousel" id="home">
  <img src="img/background.jpg" alt="people in circle with fists together">
  <div class="carousel-caption">
      <h1 class="display-2">Welcome to the Employee Management System</h1>
      <h1 class="display-2" id="text"></h1>
      <h2 class="display-3">Today is: <span id="datetime"></span></h2>
  </div>
</div>



<% include footer %>
<% include scripts %>

</body>
</html>
