<!DOCTYPE html>
<html lang="en">
<% include header %>

<body>
<% include navbar %>

<div class="hero-image" id="home">
  <img src="img/background.jpg" alt="open apple laptop">
  <div class="carousel-caption">
      <h1 class="display-2">Hello, I'm <span id="adam">Adam Donner</span></h1>
      <h1 class="display-2" id="text"></h1> <!--Div for the typerwriter text-->
      <br>

      <a href="docs/Resume-AdamDonner.pdf" class="btn btn-primary btn-lg">Resume</a>
  </div>
</div>


<% include scripts %>
</body>
</html>
