<!DOCTYPE html>
<html lang="en">
<nav class="navbar navbar-expand-sm navbar-light bg-light sticky-top">
    <div class="container-fluid">
      <ul class="navbar-nav mr-auto" id="list">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/list">Lists</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/view">View</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/new">New</a>
        </li>
      </ul>
  </div>
</nav>
